  body {
    font-family: 'Open Sans', sans-serif;
  }
  .breadcrumb-item {
    font-size: 0.8em !important;
  }
  .ellipsis{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* 1 */
  }
  
  .board-table {
    table-layout: fixed;
  }
  .board-table .date {
    width: 100px;
  }
  
  .post-body{
    white-space: pre-line; /* 2 */
  }
  .post-info{
    font-size: 0.8em;
  }
  .user-form {
    width: 400px;
  }
  .flex_container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  .logo-nav{
    font-size: 18px;
  }
  .layout-nav{
    list-style: none;
    padding-left: 10px;
  }
  .search{
    padding-bottom: 10px;
  }
  .ml-l{
    margin-left: auto;
  }
  .nav-item{
    display: inline-block;
    margin: 6px 2px 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #424242;
    cursor: pointer;
  }
  .nav-link{
    text-decoration: none;
    color: #424242;
  }
  a:hover{
    text-decoration: none;
    color: #35c5f0;
  }
  