<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div>

      <h2>Comunity</h2>

      <P>Comunitny 예정</p>

    </div>
  </body>
</html>